<!-- <app-navbar></app-navbar> -->
<hr style="height:3px;border:none;color:#333;background-color:#333;">
<h5 class="card-title" style="margin-top: 10px" *ngIf="userType == 'admin'">All Tasks for Projects </h5>
<h5 class="card-title" style="margin-top: 10px" *ngIf="userType == 'user'">All Tasks for Projects </h5>
<div class="container">
    Type:
    <select [(ngModel)]="selectedFiltered.type">
        <option value="" selected>any</option>
        <option *ngFor="let type of types">{{type}}</option>
    </select>
    Status:
    <select [(ngModel)]="selectedFiltered.status">
        <option value="" selected>any</option>
        <option *ngFor="let status of statuses">{{status}}</option>
    </select>
    Priority:
    <select [(ngModel)]="selectedFiltered.priority">
        <option value="" selected>any</option>
        <option *ngFor="let priority of priorities">{{priority}}</option>
    </select>
    Assigne:
    <select [(ngModel)]="selectedFiltered.assigne">
        <option value="0" selected>any</option>
        <option *ngFor="let user of usersProject" value="{{user.id}}">{{user.name}}</option>
    </select>
    <button type="submit" class="btn btn-primary" (click)=filter()>Filter</button>
</div>
<div class="table-wrapper-scroll-y my-custom-scrollbar" style="margin-top: 30px">
    <table class="table table-bordered table-striped mb-0">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>type</th>
                <th>status</th>
                <th>priority</th>
                <th>description</th>
                <th>assigne</th>
                <th>Project Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks">
                <th scope="row">{{ task.id }}</th>
                <td (click)="openTask(task)" style="cursor: pointer">{{ task.name }}</td>
                <td>{{ task.type }}</td>
                <td>{{ task.status }}</td>
                <td>{{ task.priority }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.user_name }}</td>
                <td>{{ task.project_name }}</td>
                <td>
                    <!-- <button class="btn btn-secondary" (click)="deleteTask(task)">
                        Delete
                    </button> -->
                    <button class="btn btn-primary" (click)="openModal2(template2, task)">
                        Update
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<button type="button" class="btn btn-primary" (click)="openModal(template)">
    Add Task
</button>
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add Form</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <label>Name</label>
        <input type="text" class="form-control" [(ngModel)]="newTask.name" />

        <label>Type</label>
        <select class="form-control" [(ngModel)]="newTask.type">
            <option *ngFor="let type of types">{{type}}</option>
        </select>

        <label>Status</label>
        <select class="form-control" [(ngModel)]="newTask.status">
            <option *ngFor="let status of statuses">{{status}}</option>
        </select>

        <label>Priority</label>
        <select class="form-control" [(ngModel)]="newTask.priority">
            <option *ngFor="let priority of priorities">{{priority}}</option>
        </select>

        <label>Description</label><input type="text" class="form-control" [(ngModel)]="newTask.description" />

        <label>Assigns</label>
        <select class="form-control" [(ngModel)]="newTask.assigne">
            <option *ngFor="let user of usersProject" value="{{user.id}}">{{user.name}}</option>
        </select>
        <!-- <input type="text" class="form-control" [(ngModel)]="newTask.assigne" /> -->
    </div>
    <div class="model-footer">
        <pre>  <button type="button" class="btn btn-primary" (click)=add()>Add</button> <button type="button" class="btn btn-primary" (click)=cancel()>Cancel</button> </pre>
    </div>
</ng-template>

<ng-template #template2>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Edit Form</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <label>Name</label><input type="text" class="form-control" [(ngModel)]="editedTask.name" />
        <label>Type</label><select class="form-control" [(ngModel)]="editedTask.type">
            <option *ngFor="let type of types">{{type}}</option>
        </select>
        <label>Status</label><select class="form-control" [(ngModel)]="editedTask.status">
            <option *ngFor="let status of statuses">{{status}}</option>
        </select>

        <label>Priority</label><select class="form-control" [(ngModel)]="editedTask.priority">
            <option *ngFor="let priority of priorities">{{priority}}</option>
        </select>

        <label>Description</label><input type="text" class="form-control" [(ngModel)]="editedTask.description" />
        <label>Assigns</label><select class="form-control" [(ngModel)]="editedTask.assigne">
            <option *ngFor="let user of usersProject" value="{{user.id}}">{{user.name}}</option>
        </select>
        <!-- <input type="text" class="form-control" [(ngModel)]="editedTask.assigne" /> -->
    </div>
    <div class="model-footer">
        <pre>  <button type="button" class="btn btn-primary" (click)=edit()>Save</button> <button type="button" class="btn btn-primary" (click)=cancel()>Cancel</button> <button type="button" class="btn btn-primary" (click)=delete()>Delete</button></pre>
    </div>
</ng-template>
<app-project-view></app-project-view>